body {
    padding-top: 70px;
    background-color: #e0e0e0;
}

a {
    cursor: pointer;
}

img.feed-icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.feed-item-group{

}

.feed-item-footer{
    font-style: italic;
}

.jumbotron{
    opacity: 0.8;
}



/* dotted outlines */
a:focus { 
    outline: none; 
}

/* fa-spin -> spinning glyphicon */
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
